CalculatorAPI/bin
CalculatorAPI/obj
CalculatorAPI/packages
CalculatorAPI/.vs


CalculatorBL/bin
CalculatorBL/obj
CalculatorBL/packages
CalculatorBL/.vs

CalculatorBLTest/bin
CalculatorBLTest/obj
CalculatorBLTest/packages
CalculatorBLTest/.vs

CalculatorTest/bin
CalculatorTest/obj
CalculatorTest/packages
CalculatorTest/.vs