.container {
    background-color: #292C2F;
    padding: 15px;
    margin: 15px;
    box-shadow: 5px 5px grey;
}

.historyContainer{
    background-color: #25262C;
    padding-left: 40px;
}

.calculatorContainer{
    background-color: #25262C;
}

#welcome {
    color: #57B76E;
}